body {
  margin: 0;
  padding: 0;
}

$color: #333;
@mixin hello_world($size) {
  font-size: $size;
}

.menu a {
  color: white;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  
  @include hello_world(18px);

  &:hover {
    color: #ccc;
  }
}

#blog {
  border: 1px dotted #333;
  box-shadow: 1px 1px 3px rgba(black, .3);
}

@media only screen and (max-width: 960px) {
  #blog {
    border: transparent;
  }
}